<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>WordCount - Home</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">WordCount App</a>
      </div>
    </nav>

    <div class="container">
        <div class="jumbotron text-center">
            <h2>WordCount App</h2>
            <p class="lead">A simple Flask app for counting words and analyzing sentiment.</p>

            <a href="{{ url_for('count') }}" class="btn btn-primary btn-lg">Start Word Count</a>
        </div>
    </div>
</body>
</html>
