<div class="container">
    <div class="jumbotron text-center">
        <h2>WordCount App</h2>
        <p class="lead">A simple Flask app for counting words.</p>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form action="{{ url_for('count') }}" method="post">
            <textarea class="form-control" name="fulltextarea" cols="40" rows="10"></textarea>
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="Count Words">
        </form>
    </div>
</div>
